/* 
    Created on : Dec 2, 2016, 1:28:21 PM
    Author     : JGuerra
*/

@-ms-viewport{
  width: device-width;
}

a {
    color: #337ab7;
    text-decoration: none;
}
body {
    font-size:100%;
    overflow-x: hidden;
    font-family: "Open Sans";
}
.oswald {
    font-family: "Oswald";
}
.opensans {
    font-family: "Open Sans";
}
body {
    padding-top: 70px;
}
.orangebg {
  background-color: #FFA500 ;
}
section#spotx360 {
    padding: 80px 0 0 0;
}

@media only screen and (max-width:520px) {
    section#spotx360 {
        padding: 0 0 0 0; 
    }
}

section#inthenews {
    padding: 75px 0;
}
section#whyspotx {
    padding: 50px 0;
}
 hr {
    display: block;
    height: 5px;
    border: 0;
    border-top: 5px solid #FFA500;
    margin: 1em 0;
    padding: 0;
    text-align: center;
    width: 12%;
    margin-left: 44%;
}
.strong{
    font-weight: bold;
}
.space {
    padding-bottom:100px;
}
div#servicecontainer {
    padding-left: 31vw;
    padding-right: 14vw;
}
#techsupport {
    background-color: white;
}
#whatsincluded {
    background-color: white;
    width: 30%;
    height: 25%;
    left: 35%;
}
.support-icon {
    height: 50px;
    width: 50px;
    color: black;
    
}
#coveragemap-img {
    height: 70%;
    width: 80%;
    padding-top: 100px;
    padding-left: 25%;
}
#servicecoverage-header-headercopy2 {
    padding: 0 20%;
    padding-bottom: 25px;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    font-size: 12px;    
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
span#moreinfo {
    cursor:pointer;
}
  .footer-bg {
     background-color:black;
 }
#getspotx-header {
    color: black;
    position: relative;
    text-align:center;
}
#getspotx-headercopy {
    color: black;
    position: relative;
}
.formContents {
    position: relative;
    padding: 10px 10% 20px 10%;
}
label.label {
    font-size:12px;
    color: black;
}
div.socialIcons > a {
    color: white;
}
.footerText {
    color:white;
    font-size: 1em;
    text-align: center;
}
.btn_contact_me {
    color:white;
    background-color: black;
}
.block {
    display:block;
}
.additional-info {
    font-size: 12px;
}
#servicecoverage-header-headercopy2 {
    padding: 0 10% 2% 10%;
}    
span#moreinfo {
    cursor: pointer;
    padding: 0 0 0 15%;
}    
#subtext {
    font-size: 9px;
}
footer {
	display: block;
	padding-top: 45px;
	padding-bottom: 60px;
	background-color: #000;
	color: #FFF;
	text-align: center;
}
footer a,
footer a:hover,
footer a:focus {
	color: #FFF;
}
#social-media a:hover,
#social-media a:focus {
	text-decoration: none;
	color: #00B5EF;
}
.whitebg {
    background-color:white;
}
div#newscontainer {
    height: 400px;
    width: 250px;
    overflow: auto;
    margin: 6% 0 0 14%;
    border-style: solid;
    border-color: lightgray;
}
img#wired-logo {
    height: 76px;
    width: 137px;
    margin: 0 20%;
}
button#presskit {
    margin: 25px 25%;
}
hr.news-separator {
    border-top: 1px solid black;
    color: black;
    width: 95%;
    display: block;
    height: 2px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}    
div#monthly-service {
    padding: 1% 20%;
}
div#annual-service {
    padding: 1% 20%;
}
div#inthenews-header {
    padding: 0 0 1% 0;
}
li.content {
    height:70px;
}
img#wired-logo {
    height: 76px;
}

