
/* 
    Created on : Dec 21, 2016, 8:33:26 AM
    Author     : JGuerra
*/


@media only screen and (max-width : 520px) {
    
    .header {
        margin: 0 0 15px 0;        
    }
    .block {
        display: block;
        font-size: 1.5em;
        text-align: center;
    }
    .block > dt {
        padding: 10px 12% 12px 0;
    }
  
    hr#inthenews-underline {
        display: block;
        height: 5px;
        border: 0;
        border-top: 5px solid #FFA500;
        padding: 0 0 2% 2px;
        width: 48%;
        margin: 0 0 30px 25%;
    }
    .arrow-right {
        display: none;
    }    

    #coveragemap-img {
        height: 400px;
        width: 100%;
        padding-top: 100px;
    } 
    .black-underline {
        height: 5px;
        border-top: 5px solid black;
        width: 50%;
        margin: 0 0 31px 24%;
    }   


    .price {
        padding-bottom: 5px;
        font-size: 20px;
        font-weight: 600;
        line-height: 1;
    }    
    .plan .header {
        padding: 5px 0;
        border-top: none;
        background-color: #111;
        color: white;
        font-family: Oswald, 'Sans Serif';
        font-size: 12px;
        font-weight: 400;
    }  
    #servicecoverage h2 {
        font-size: 28px;
        width: 200px;
        margin: 33px 15% 5% 18%;
    }   

}


@media only screen and (min-width : 768px) and (max-width : 991px) {


    div#newscontainer {
        height: 400px;
        width: 250px;
        overflow: auto;
        margin: 6% 0 0 33%;
        border-style: solid;
        border-color: lightgray;
    }
    button#presskit {
        margin: 26px 37%;
    }    

    #servicecoverage-header-headercopy2 {
        padding: 0 10% 2% 10%;
    }    
    span#moreinfo {
        cursor: pointer;
        padding: 0 0 0 15%;
    }    
    #subtext {
        font-size: 7px;
    }

  
}
@media only screen and (min-width : 1201px) {
    
    #servicecoverage-header-headercopy2 {
        padding: 0 20%;
        padding-bottom: 25px;
        font-size: 12px;
    }    
    span#moreinfo {
        cursor: pointer;
        padding: 0 0 0 22%;
    }         
    hr#servicecoverage-underline {
        display: block;
        height: 5px;
        border: 0;
        border-top: 5px solid #FFA500;
        margin: 1em 0;
        padding: 0;
        text-align: center;
        width: 9%;
        margin: 0 0 2% 45%;
    }    
    div#servicecoverage-header {
        padding: 0 0 10px;
    }  
    li {
        font-family: Open Sans-serif;
        font-size: 15px;
    }  
    div#newscontainer {
        height: 400px;
        width: 50%;
        overflow: auto;
        margin: 6% 0 0 24%;
        border-style: solid;
        border-color: lightgray;
        border-width: 5px;
        text-align: left;
    }
    button#presskit {
        margin: 35px 43%;
    } 
    .plan li {
        border-top: 1px solid #DDD;
        padding: 5px 0;
        margin: 0;
        font-size: 14px;
        font-weight: 600;
        text-align: center;
    }    
}

@media only screen and (min-width : 991px) and (max-width : 1200px) {
  
    #servicecoverage-header-headercopy2 {
        padding: 0 20%;
        padding-bottom: 25px;
        font-size: 12px;
    }    
 
    span#moreinfo {
        cursor: pointer;
        padding-left: 22%;
    }   
   
   

}

