/* 
    Created on : Dec 20, 2016, 3:39:51 PM
    Author     : JGuerra
*/

/*#whyspotX-header {
    position: fixed;
}*/
#whyspotximage {
    z-index: 1;
    padding-left: 40%;  
}
.whyspotx-icon {
    padding-left: 40%;
}
dt {
    margin: 0 0 4px 0;
    font-size:1.5em;
}

dd {
    float: left;
    margin: 0 0 4px 1%;
    width: 400px;
    font-size: 1.0em;
}


 @media only screen and (max-width:519px) {
     
    dd {
        width: 80%;
        margin: 0 0 10px 7%;
        font-size:.75em;
    } 
    .block > dt {
        padding-left: 0;
    }
    #whyspotximage {
        display:none;
    }    
}
@media only screen and (min-width : 520px) and (max-width : 767px) {
    
    img#spotxunique-img {
        position: relative;
        margin: 2% 0% 0 6%;
    }

    #whyspotximage {
        z-index: 1;
         padding-left: 0; 
    }    
    .whyspotx-icon {
     padding-left: 0; 
    }
    dt {
        font-size:2.5em;
    }
    dd {
        font-size: 1.75em;
    }    
}


@media only screen and (min-width : 768px) and (max-width : 990px) {

    div#servicecoverage-header {
        padding: 0 0 3px 0;
    }    
    #whyspotximage {
            z-index: 1;
            padding-left: 40%;
            height: 74%;
            width: 100%;
        }
    .whyspotx-icon {
        padding-left: 65%;
    }    
    dd {
        float: left;
        margin: 0 0 4px 1%;
        width: 250px;
        font-size: 10px;
        text-align: left;
    }
    .block > dt {
        padding-left: 0;
        width: 200px;
        text-align: left;        
    }    
}

@media only screen and (min-width: 1201px) {
    
    dd {
        float: left;
        margin: 0 0 4px 1%;
        font-size: 10px;
        text-align: left;
        position: relative;
        right: 38%;        
    }
    dt {
        margin: 0 0 4px 0;
        font-size: 1.5em;
        position: relative;
        right: 38%;
    }    

}


